.card {
    position: absolute;
    width: 110px;
    height: 153px;

    perspective: 700px;
    transform-style: preserve-3d;

    transition: transform .5s cubic-bezier(0, 0, 1, 1)
}

.card > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.card__face {
    background-image: url(../../static/img/null.png);
    background-position: center;
    background-size: 100%;
    transform: translateZ(1px) rotateY(-180deg);
}

.card__shirt {
    background-image: url(../../static/img/image.png);
    background-position: center;
    background-size: 100%;
    transform: translateZ(2px);
}

.card_rotated {
    transform: rotateY(-180deg);
}

.block{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    width: 760px;
    height: 500px;
    z-index: -1;
   
}



body{
    background-color: #1c7230;
    width: 100%;
    margin: 0;
    font-family: SansSerif, sans-serif;
    font-size: .9em;
    color: #ddeae0;
}

.container1, .container2, .container3{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    background-color: #1c7230;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.header{
    position: absolute;
    top: 0px;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards{
    position: absolute;
    left: 0px;
    top: 2em;
}

.mg{
    text-transform: uppercase;
}

button{
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #ddeae0;
    border-color: #ddeae0;
    color: #1c7230;
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

h1{
    text-align: center;
}

.startGame{
    text-decoration: none;
    color: #ddeae0;
}